.custom-button {
  border-radius: 8px;
  height: 49px;
  padding: 15px 60px;
  font-size: 16px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
}

/* === Default ===*/
.primary {
  border: none;
  background-color: var(--color-teal-blue);
  color: var(--color-white);
  box-shadow: 0 4px 8px var(--color-light-gray);
}

.alternative {
  border: none;
  background-color: var(--color-teal-yellow);
  color: var(--color-white);
  box-shadow: 0 4px 8px var(--color-light-gray);
}

.alternative-card {
  border: none;
  background-color: var(--color-light-gray);
  color: var(--color-black);
}

.secondary {
  background-color: var(--color-dark-gary);
  color: var(--color-mono-gray);
  border: 1px solid var(--color-dark-gray);
  box-shadow: 0 4px 8px var(--color-light-gray);
}


/* === HOVER ===*/

/* Hover real para cada prioridad (cuando no esta forzado) */
.custom-button.primary:hover:not(.hover):not(.disabled):not(:disabled) {
  background-color: var(--color-navy-blue);
}

.custom-button.alternative:hover:not(.hover):not(.disabled):not(:disabled) {
  background-color: var(--color-mustard-yellow);
}

.custom-button.secondary:hover:not(.hover):not(.disabled):not(:disabled) {
  border-color: var(--color-black);
  background-color: var(--color-dark-gary);
  color: var(--color-mono-gray);
}

.custom-button.primary.hover {
  background-color: var(--color-navy-blue);
}

.custom-button.alternative.hover {
  background-color: var(--color-mustard-yellow);
}

.custom-button.secondary.hover {
  border-color: var(--color-black);
  background-color: var(--color-dark-gary);
  color: var(--color-mono-gray);
}

.alternative-card:hover {
  background-color: var(--color-mid-gray); 
  color: var(--color-black);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}



/* === Disabled ===*/

.custom-button.primary.disabled,
.custom-button.primary:disabled {
  background-color: var(--color-navy-blue);
  color: var(--color-white);
  cursor: not-allowed;
  filter: blur(2px);
  pointer-events: none;
  opacity: 1;
}


.custom-button.alternative.disabled,
.custom-button.alternative:disabled {
  background-color: var(--color-mustard-yellow);
  color: var(--color-white);
  cursor: not-allowed;
  filter: blur(2px);
  pointer-events: none;
  opacity: 1;
}

.custom-button.secondary.disabled,
.custom-button.secondary:disabled {
  background-color: var(--color-dark-gary);
  color: var(--color-mono-gray);
  cursor: not-allowed;
  filter: blur(2px);
  pointer-events: none;
  opacity: 1;
}

.button-icon {
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-obscure-mint-green);
  border: none;
  color: var(--color-white);
  padding: 12px 16px;
  cursor: pointer;
  transition: color 0.3s;
  box-shadow: 0 4px 8px var(--color-light-gray);
}

.button-icon:hover {
  background-color: var(--color-mint-green);
}

.button-icon .icon-right {
  vertical-align: middle;
}
