.card {
  width: 328px;
  height: 409px;
  border-radius: 10px;
 
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card.universidad {
  background-color: var(--color-navy-blue);
  color: var(--color-white);
}

.card.carrera {
  background-color: var(--color-mustard-yellow);
  color: var(--color-black);
}

.card-image img {
  width: 100%;
  height: 205px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  height: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  font-family: 'Roboto';
}

.card-title {
  margin: 0;
  font-size: 21px;
  font-family: 'Montserrat';
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text {
  flex-grow: 1;
  margin: 8px 0;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
}

.card-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
