.text-card {
  width: 292px;
  min-height: 191px;
  padding: 20px 28px;
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px var(--color-mid-gray);
}

.text-card-title {
  margin: 0;
  font-size: 21px;
  font-family: 'Montserrat';
  color: var(--color-black2);
}

.text-card-description {
  margin: 0;
  font-family: 'Roboto';
  font-size: 12px;
  color: var(--color-dark-gray);
  flex-grow: 1;
}

.text-card-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
